<header class="header-container">
  <div>
    <img src="../../../assets/logo-rick-morty.svg" alt="">
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="Início" class="left-tab">
        <ng-template mat-tab-label>
          <mat-icon>home</mat-icon>
          Início
        </ng-template>
      </mat-tab>
      <mat-tab label="Favoritos" class="right-tab">
        <ng-template mat-tab-label>
          <mat-icon>favorite</mat-icon>
          Favoritos
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</header>
