.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--black-500);
  border: 1px solid var(--gray-200);
  padding: 0% 1%;
}

.mat-tab-group .mat-tab-label {
  border-radius: 0 16px 16px 0; /* Arredonda apenas o lado direito */
}

.mat-tab-group .mat-tab-label-active {
  border-radius: 0 16px 16px 0; /* Arredonda apenas o lado direito da aba ativa */
}
