.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--black-500);
  border: 1px solid var(--gray-200);
  padding: 0% 1%;
}

.nav-container {
  display: flex;
  background-color: var(--black-500);
  padding: 5px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #444;
}

.nav-button {
  background-color: transparent;
  color: var(--blue-500);
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 0.2rem;
}

.nav-button.active {
  background-color: var(--white-500);
  color: var(--black-500);
  font-weight: bold;
}

.nav-button .nav-icon {
  font-size: 18px;
  margin-right: 8px;
}

.badge {
  background-color: var(--white-500);
  color: var(--black-500);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 8px;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

button {
  font-family: "Creepster", system-ui;
}

.icon-favorite {
  color: var(--red-500);
}

.icon-home {
  color: var(--blue-500);
}
